body {
  text-align: center;
  margin: 0;
}
p::selection,a::selection{
  color:#F3F1F5;
  background-color: #53B8BB;
}
.top {
  background-color: #53B8BB;
  position: relative;
  padding-top: 40px;
  border-left: 10px dotted #F3F1F5;
  border-right: 10px dotted #F3F1F5;
  border-spacing: 10px;
}

.cloud-2 {
  position: absolute;
  bottom: 100px;
  left: 200px;

}

.cloud-3 {
  position: absolute;
  top: 50px;
  left: 450px;

}

.cloud-1 {
  position: absolute;
  top: 100px;
  right: 200px;
}

img.profile1 {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  background-color: #53B8BB;
  border-radius: 100%;
  margin-top: 20px;
}
p.profile1{
  width:30%;
  margin:auto;
}
img.skill1 {
  height: 150px;
  width: 150px;
  background-color: #DDDDDD;
  border-radius: 10%;
  float: left;
  margin-right: 30px;
}

.skill2 {
  height: 150px;
  width: 150px;
  background-color: #DDDDDD;
  border-radius: 10%;
  float: right;
  margin-left: 30px;
}

img.profile1:hover {
  background-color: #BFA2DB;
  border: 5px dotted #F3F1F5;
}

h1 {
  font-family: 'Style Script', cursive;
  color: #F3F1F5;
  margin-bottom: 0;
  font-size: 50px;
}
h1::selection{
  background-color:#F3F1F5;
  color: #53B8BB;
}

span{
  color:#F5A962;
  font-size:100px;
}
span::selection{
  color:#53B8BB;
    background-color:#F3F1F5;
}
h1::after{
content:url(bird.png);
}
.bstudent {
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #055052;
}
p{
  line-height:2;
  font-family: 'Dosis', sans-serif;
font-family: 'IBM Plex Sans Devanagari', sans-serif;
color:#035397;
}
.hr1 {
  border-top: 10px dotted #F3F1F5;
  background-color: #53B8BB;
  width: 30%;
  margin: 50px auto 50px auto;
}

.hr1:hover {
  width: 100%;
}

.hr2 {
  border-top: 10px dotted #F3F1F5;
  background-color: #53B8BB;
  width: 30%;
  margin: 100px auto 0 auto;
}

.hr2:hover {
  width: 100%;
}

.welcome {
  display: inline;
  background-color: #F3F1F5;
  color: #53B8BB;
  position: fixed;
  left: 10px;
}

a {
  color: #053742;
  margin: 10px;
  font-weight: bold;
  text-decoration:none;
}

.skills {
  margin: 0 auto;
  /*or display:inline-block; */
  width: 50%;
}

.skill {
  margin: 100px auto;
}

p.skill1 {
  text-align: left;

}

h2, h3 {
  color: #53B8BB;
}
.my-skills{
  font-size:3.7rem;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
  margin-top: 100px;
}

.copyright {
  color: #EAF6F6;
}

.btn {
  display: inline-block;
  background-color: #66BFBF;
  color: #EAF6F6;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  font-family: 'IBM Plex Sans Devanagari', sans-serif;
}


.contact-me {
  margin-top: 70px;
}
.link{
  position: absolute;
  top: 110px;
  right: 230px;

}
.link2{
  position: absolute;
  bottom: 95px;
  left: 210px;
}
.link1{
  position: absolute;
top: 60px;
left: 456px;
}
